.tbody-container{
  height: 150px;
  max-height: 150px;
}

.cart-image{
  max-height: 150px;
}

td, th{
text-align: center;
}

@media (max-width: 767px){


  .table-titles, .item-descripcion{
      display: none;

  }
  .cart-image{
      max-width: 200px;
  }
  .item-nombre{
      text-align: left;
  }
}
